$white: #fff;
$error-color: #f56c6c;
$primary-color: #409eff;
$info-color: #909399;
$text-primary-color: #303133;
$text-placeholder-color: #c0c4cc;
$text-muted: #6c757d;

$border-base-color: #dcdfe6;
$border-lighter-color: #ebeef5;
